body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
.conjunto{
    width: 400px;
    margin:auto;
}
.box{
    background-color: white;
}
.cabecera{
    display: flex;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
}
.perfil{
    font-size:small;
    float: left;
    flex: 1;
    padding: 3;
}

img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.caja-imagen{
    border-color: black;
}
.caja-iconos{
    display: flex;
    place-items: center;
    justify-content:space-between;
    padding: 5px;
}
.likes {
    width: 300px;
    font-size: 10px;
    letter-spacing: 0.2px;
    padding:5;
}
.ultima p{
    font-size: small;
    color:black;
    padding: 5;
}
